* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrap {
  width: 1200px;
  margin: 0 auto;
}
@media (max-width: 1200px) {
  .wrap {
    width: 100%;
  }
}

.row {
  float: left;
  width: 900px;
  height: 600px;
}
@media (max-width: 1200px) {
  .row {
    width: 100%;
  }
}

.col {
  float: left;
  padding: 20px;
  background: lightblue;
  width: 450px;
}
@media (max-width: 1200px) {
  .col {
    width: 100%;
  }
}

.ad {
  float: right;
  width: 298px;
  background: #f7f7f7;
  height: 600px;
  padding: 20px;
}
@media (max-width: 1200px) {
  .ad {
    width: 100%;
  }
}

.ft {
  clear: both;
  text-align: center;
  padding: 20px;
  background: #eee;
}
@media (max-width: 1200px) {
  .ft {
    width: 100%;
  }
}